@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:visited{
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 100px 0px 100px;
    border-bottom: 1px solid #b4b4b4;
    box-shadow: 0px 0px -10px #b4b4b4;
}
.header .img .logo{
    font-size: 1.5rem;
    color: #6bbfff;
}
.header .img .text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
}
.nav .nav__link{
    margin: 0 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    &:nth-child(2){
        color: rgb(95, 95, 95);
    }
    &:nth-child(3){
        color: rgb(95, 95, 95);
    }
}

.hero .card p{
    color: rgb(95, 95, 95);
    
}

/* fin header */

/* hero */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 10px 100px 0px 100px;
}
.hero .foto{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-right: 50px;
    object-fit: cover;
}
.hero .links{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    margin-left: -20px;
    font-size: 1.5rem;
    
    color: rgb(125, 125, 125);
}
.hero .card .btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #6bbfff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* fin hero */

/* content */
.content{
    display: grid;
    grid-template-columns: 650px 1fr;
    direction: rtl;
    grid-template-areas: 
        "cards"
        "cards"
        "cards"
        "ver-proyectos";

    gap: 50px;
    margin: 20px 550px 50px 200px;
}
.content .cards .card-info{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    direction: ltr;
    justify-content: center;
    
    p{
        color: rgb(95, 95, 95);
    }
    margin-top: 30px;
    .btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #6bbfff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
}
.content .cards .card-info h2{
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: justify;

}
.content .cards .card-info span{
    display: inline-block;
    background-color: #cfecf8;
    color: #1e7cff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}
hr{
    border: none;
    border-top: 1px solid #b4b4b4;
    box-shadow: 0px 0px -10px #b4b4b4;
    margin: 20px 0;
} 

/* mobile */
@media (max-width:768px){
    .header{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        .img{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        display: none;
    }
    .nav{
        display: none;
    }
    .hero{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        .foto{
            margin: 0px;
            margin-bottom: 20px;
        }
        .links{
            margin-left: 0px;
            text-align: center;
        }
    }
    .content{
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 20px 50px 20px;
        direction: ltr;
        font-size: 1rem;
    }
    .card-info p{
        font-size: 0.9rem;
        text-align: justify;
        margin: 0px 10px 0px 10px;
    }
}